<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">  <!-- ← ここがCSS読み込み -->
</head>
   <% if user_signed_in? %>
      <%= link_to "マイページへ", user_path(current_user.id), class: "pop-button"  %>
   <% end %>
<%= link_to "レシピ投稿ページへ", new_recipe_path, class: "pop-button"  %>
<h1>レシピ一覧ページ</h1>

<h2>投稿を検索</h2>

<%= form_tag({controller:"recipes", action:"index"}, method: :get, class: "search-form") do %>
  <div class="search-box">
    <i class="fas fa-search"></i>
    <%= text_field_tag :search, params[:search], placeholder: "レシピを検索", class: "search-input" %>
    <%= submit_tag "検索", class: "search-button" %>
  </div>
<% end %>

<h2>カテゴリ</h2>


<%= form_tag recipes_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
 <% end %>
    
<div class="recipes-container">
  <% @recipes.each do |t| %>
    <div class="recipe">


   <p><strong>料理名:</strong> <%= t.name %></p>


        <p><strong>カテゴリー:</strong> <%= t.tags.map(&:name).join('、') %></p>


      <% if t.image.attached? %>
        <%= image_tag t.image, size: '250x200'%>
      <% end %>

   <p><strong>価格:</strong> <%= t.price %>円</p>
   <p><strong>摂取カロリー:</strong> <%= t.kcal %> kcal</p>
   <p><strong>調理時間:</strong> <%= t.time %>分</p>
   <p><strong>食材・調味料:</strong> <%= t.material %></p>

   <p><strong>投稿者:</strong> <%= t.user.name %> <%= link_to "ユーザー詳細", user_path(t.user) %></p>

   <p><strong>メールアドレス:</strong> <%= t.user.email %>


  <% if user_signed_in? %>
    <% if current_user.already_liked?(t) %>
      <%= button_to recipe_like_path(id: t.id, recipe_id: t.id), data: { turbo_method: :delete }, class: "like-button liked" do %>
        <i class="fas fa-heart"></i><%= t.likes.count %>
      <% end %>
    <% else %>
      <%= button_to recipe_likes_path(id: t.id, recipe_id: t.id), data: { turbo_method: :post }, class: "like-button" do %>
        <i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>
    <% end %>
  <% else %>
    <span class="like-button">
      <i class="far fa-heart"></i><%= t.likes.count %>
    </span>
  <% end %>





     

     <%= link_to "レシピ詳細へ", recipe_path(t.id) %>  

<% if user_signed_in? && current_user.id == t.user_id %>
<%= link_to edit_recipe_path(t.id), class: "edit-button" do %>
  <i class="fas fa-edit"></i> 編集
<% end %>

  <%= button_to recipe_path(t.id),
                method: :delete,
                class: "delete-button" do %>
    <i class="fas fa-trash-alt"></i> 削除
  <% end %>
<% end %>



    </div>
  <% end %>
</div>



