<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">  <!-- ← ここがCSS読み込み -->
</head>

<h2>レシピ詳細</h2>

<%= link_to "レシピ一覧に戻る", recipes_path, class: "pop-button" %>
<%= link_to "レシピ投稿ページへ", new_recipe_path, class: "pop-button" %>

<div class="recipe">


   <p><strong>料理名:</strong> <%= @recipe.name %></p>

   <% @recipe.tags.each do |tag| %>
   <p><strong>カテゴリー:</strong> <%= tag.name %></p>
   <% end %>

        <!-- 画像を表示 -->
          <% if @recipe.image.attached? %>
            <%= image_tag @recipe.image, size: "250x200" %>
          <% else %>
            <p>画像はありません</p>
          <% end %>

   <p><strong>価格:</strong> <%= @recipe.price %>円</p>
   <p><strong>摂取カロリー:</strong> <%= @recipe.kcal %> kcal</p>
   <p><strong>調理時間:</strong> <%= @recipe.time %>分</p>
   <p><strong>食材・調味料:</strong> <%= @recipe.material %></p>
   <p><strong>調理工程:</strong> <%= @recipe.process %></p>
   <p><strong>ワンポイントアドバイス・コツ:</strong> <%= @recipe.tips %></p>

     <p><%= @recipe.created_at %></p>


  <% if user_signed_in? %>
    <% if current_user.already_liked?(@recipe) %>
      <%= button_to recipe_like_path(id: @recipe.id, recipe_id: @recipe.id), data: { turbo_method: :delete }, class: "like-button" do %>
        <i class="fas fa-heart"></i> <%= @recipe.likes.count %>
      <% end %>
    <% else %>
      <%= button_to recipe_likes_path(id: @recipe.id, recipe_id: @recipe.id), data: { turbo_method: :post }, class: "like-button" do %>
        <i class="far fa-heart"></i> <%= @recipe.likes.count %>
      <% end %>
    <% end %>
  <% else %>
    <i class="far fa-heart"></i> <%= @recipe.likes.count %>
  <% end %>

<%= button_to url: recipe_path(@recipe.id),
              method: :delete,
              class: "delete-button",
              data: { confirm: "本当に削除しますか？" } do %>
  <i class="fas fa-trash-alt"></i> 削除
<% end %>



</div>

<h2>レビュー</h2>
<% if user_signed_in? %>
  <div class="comment-form">
    <%= form_with(model: [@recipe, @comment], local: true) do |f| %>
      <%= f.text_area :content, placeholder: "感想を書いてね", class: "cute-textarea" %>
      <%= button_tag type: "submit", class: "cute-button" do %>
        <i class="far fa-comments"></i> レビューを書き込む
      <% end %>
    <% end %>
  </div>
<% end %>



<h2>好評価したユーザー</strong></h2>
<% @recipe.liked_users.each do |user| %>

  <li><%= user.name %></li>
 <%= @recipe.user.name %> <%= link_to "ユーザー詳細", user_path(@recipe.user) %></p>


<% end %>




<% if user_signed_in? && current_user.id ==  @recipe.user_id%>
  <%= link_to "レシピを編集する", edit_recipe_path(@recipe.id) , class: "pop-button"%>

  
<% end %>


